.comment-item {
    background-color: #2e2e2e;
    color: white;
}

.comment-item h5 {
    color: white;
}

.comment-item p {
    color: white;
}

.comment-email {
    border-top: 1px solid #dee2e6;
    padding-top: 5px;
    display: block;
    color: navy;
}

.thumb-icon {
    color: white;
}

.btn-outline-success .thumb-icon {
    color: blue;
}

.btn-outline-danger .thumb-icon {
    color: red;
}
